@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #c4c9d4;
  font-family: "Outfit", sans-serif;
}

.attribution {
  width: 100%;
  font-size: 0.6rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1 {
  font-size: 1.3rem;
}

p {
  font-size: 0.9rem;
  color: grey;
}

h1,
p {
  margin: 10px 20px;
}

.main img {
  height: 280px;
  border-radius: 10px;
  margin: 10px;
}

.main {
  width: 300px;
  height: 480px;
  background-color: white;
  margin: 50px auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);;
}
